
@import "jquery-svg/jquery.svg.css";

body {
	font-family: 'Open Sans', sans-serif;
}


#controller {
	z-index: 1000;
	width: 200px;
	position: relative;
}

#container {
	z-index: 0;
	position: absolute;
	left:0;
	top:0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

#brand_logo {
	position: absolute;
	left: 5%;
	top: 80%;
	font-weight: bold;
	font-size: 60pt;
	opacity: 0.5;

}

.button {
}
.button:after {
	content: " >";
}

.button:hover {
	font-style: italic;
	cursor: pointer;
	background-color: rgba(200,200,200,0.5);
}

.invisible {
	display: none;
}

.tweet {
	/* DIVs that contain a device */
	width: 400px;
	/*height: 200px;*/
	position: absolute;
	background-color: rgba(255,255,255,0.5);
	font-weight: lighter;
	font-family: "Helvetica Neue";
	font-size: 24pt;
}

.tweet:hover {
	cursor: pointer;
}

.tweet .hashtag {
	color: red;
}

.tweet .author {
	color: rgb(80,124,189);
	font-weight: bold;
	font-family: "Helvetica Neue";
	display: inline-block;
}

.tweet .atreply {
	font-family: "Helvetica Neue";
	font-weight: bold;
	color: rgb(26,75,140);
	display: inline-block;
}
.tweet .url {
	font-family: "Helvetica Neue";
	color: magenta;
	display: inline-block;
}

.tweet .brandname {
	font-family: "Helvetica Neue";
	line-height: 83.33%;
	font-size: 120%;
	display: inline-block;
}

.tweet .positive {
	line-height: 83.33%;
	font-size: 120%;
	display: inline-block;
	/*font-family: "HelveticaNeue-CondensedBold";*/
	font-family: "DIN Condensed";
	text-transform: uppercase;
	font-weight: bold;
}

#icon_palette .tweet {
	position: relative;
	display: block;
	height: 100px;
	margin-left: -10px;
}

.dragging {
	pointer-events:none;
}

#icon_palette .device.dragging {
    background-color: transparent;
    opacity: 0.5;
}

#icon_palette {
	/*
	height: 300px;
	overflow-y: scroll;
	overflow-x: hidden;
	*/
}

.palette {
	width: 180px;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid black;
	padding: 10px;
	margin-top: 2em;
	background-color: rgba(255,255,255,0.75);
}
.palette h2 {
	margin-top: 0;
}

.palette .ip {
	background-color: rgba(200,200,200,0.5);
	margin-bottom: 2px;
	margin-top: 2px;
	text-align: center;
	font-weight: lighter;
}

.palette .ip:hover {
	cursor: pointer;
}

.shaded {
	background-color: rgba(200,200,200,0.5);
}

.device .name {
	font-weight: lighter;
	text-align: center;
}

.device .name:hover {
	cursor: text;
	background-color: rgba(200,200,200,0.5);
}

.device .icon {
	width: 128px;
	height: 128px;
	margin-left: auto;
	margin-right: auto;
}

.device input {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	display: block;
	font-family: "Open Sans", sans-serif;
	font-weight: lighter;
	font-size: 100%;
	background-color: rgba(200,200,200,0.5);
	border: 0;
}

.networkbox .icon  {
	background-image: url(images/device-networkbox.png);
}
.networkbox .info {
	margin-top: -40px;
}

.laptop .icon  {
	background-image: url(images/device-laptop.png);
}

.laptop .info {
	margin-top: -30px;
}

.phone .icon  {
	background-image: url(images/device-phone.png);
}
.phone .info {
	margin-top: -30px;
}

.storage .icon  {
	background-image: url(images/device-storage.png);
}
.storage .info {
	margin-top: -40px;
}

.router .icon  {
	background-image: url(images/device-storage.png);
}
.router .info {
	margin-top: -40px;
}

.tv .icon  {
	background-image: url(images/device-tv.png);
}
.tv .info {
	margin-top: -10px;
}

.tvbox .icon  {
	background-image: url(images/device-tvbox.png);
}
.tvbox .info {
	margin-top: -40px;
}

.device .status {
	display: none;
	width: 75%;
	margin-left: auto; margin-right: auto;
	font-weight: lighter;
	font-style: italic;
	font-size: 75%;
	padding: 5px;
	background: rgba(200,200,200, 0.6);
}

.device.highlight {
	background-color: rgba(200,200,200,0.5);
}

.collapsed { 
	 /*background-color: rgba(200,200,200,.5); */
}

.collapsed:hover {
	cursor: pointer;
}

.badge {
	display: none;
}
.collapsed .badge {
	display: block;
	font-weight: bold;
	background-color: rgba(150,150,255,0.8);
	float: right;
	width: 25px;
	height: 25px;
	line-height: 25px;
	text-align: center;
	margin-right: 50px;
	margin-top: 40px;
}

.connector  {
	stroke: #AAA;
	stroke-width: 1;
	fill: none;
}

.connector.wireless {
	stroke-dasharray: 5,5;
}

SVG {
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: -1;
}

h2 {
	font-size: 100%;
	margin-bottom: 0;
	font-style: italic;
	font-weight: bold;
}
#sketchList a {
	color: black;
	display: block;
	width: 200px;
	text-decoration: none;
}
#sketchList a:hover {
	font-style: italic;
	cursor: pointer;
	background-color: rgba(200,200,200,0.5);
}

#sketchList a:before {
	content: "> ";
}