
@import "jquery-svg/jquery.svg.css";

body {
	font-family: 'Open Sans', sans-serif;
}


#controller {
	z-index: 1000;
	width: 200px;
	position: relative;
}

#container {
	z-index: 0;
	position: absolute;
	left:0;
	top:0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

#brand_logo {
	position: absolute;
	left: 5%;
	top: 80%;
	font-weight: bold;
	font-size: 60pt;
	opacity: 0.5;

}

.button {
}
.button:after {
	content: " >";
}

.button:hover {
	font-style: italic;
	cursor: pointer;
	background-color: rgba(200,200,200,0.5);
}

.invisible {
	display: none;
}

.tweet {
	/* DIVs that contain a device */
	width: 400px;
	/*height: 200px;*/
	position: absolute;
	background-color: rgba(255,255,255,0.75);
	font-weight: lighter;
	font-family: "Helvetica Neue";
	font-size: 24pt;
}

.tweet:hover {
	cursor: pointer;
}

.tweet .hashtag {
	color: red;
}

.tweet .author {
	color: rgb(80,124,189);
	font-weight: bold;
	font-family: "Helvetica Neue";
	display: inline-block;
}

.tweet .atreply {
	font-family: "Helvetica Neue";
	font-weight: bold;
	color: rgb(26,75,140);
	display: inline-block;
}
.tweet .url {
	font-family: "Helvetica Neue";
	color: magenta;
	display: inline-block;
}

.tweet .brandname {
	font-family: "Helvetica Neue";
	line-height: 83.33%;
	font-size: 120%;
	display: inline-block;
}

.tweet .positive {
	line-height: 83.33%;
	font-size: 120%;
	display: inline-block;
	/*font-family: "HelveticaNeue-CondensedBold";*/
	font-family: "DIN Condensed";
	text-transform: uppercase;
	font-weight: bold;
}

.bubble_connector  {
	stroke: #AAA;
	stroke-width: 1;
	fill: none;
}

.connector.wireless {
	stroke-dasharray: 5,5;
}

SVG {
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: -1;
}

SVG .hidden {
	display: none;
}
